In [3]:
import pandas as pd
pd.read_csv('log.csv',index_col=0)

                      time   voltage  current  capacity       temp  cycle
0      2019-11-21 13:45:05  3.715389      0.4    2640.4  26.090180      0
1      2019-11-21 13:45:05  3.690533      0.4    2400.0  26.894437      0
2      2019-11-21 13:45:05  3.627629      0.4    2159.6  27.486101      0
3      2019-11-21 13:45:05  3.488759      0.4    1920.0  27.917991      0
4      2019-11-21 13:45:05  3.488759      0.4    1680.8  28.234374      0
...                    ...       ...      ...       ...        ...    ...
11124  2019-11-21 13:45:05  3.445089     -0.6    2109.4  34.497508    500
11125  2019-11-21 13:45:05  3.507993     -0.6    2468.2  34.948615    500
11126  2019-11-21 13:45:05  3.532849     -0.6    2827.0  35.311600    500
11127  2019-11-21 13:45:05  3.532849     -0.6    3187.6  35.621109    500
11128  2019-11-21 13:45:05  3.532849      0.4    2947.6  33.959453    501

[11129 rows x 6 columns]