In [1]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.

In [2]:
for i in Customer.objects.all():
    print(i)

Alexzadra Long

In [3]:
for i in Rent.objects.all():
    print(i)

1 D Conda 32.00 sqm. 2020-02-13 07:33:19+00:00

# Create

In [4]:
Property.objects.create(
    name="Cozy Cozy",
    ac=True,
    size=37,
    price_per_day=700
)

In [5]:
p=Property(
    name="Cozy Cozy",
    ac=True,
    size=37,
    price_per_day=700
)

In [6]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.

In [7]:
p.save()

In [8]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.
7 Cozy Cozy 37.00 sqm.

# Update

In [9]:
p=Property.objects.get(id=7)

In [10]:
p.size=38

In [11]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.
7 Cozy Cozy 37.00 sqm.

In [12]:
p.save()

In [13]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.
7 Cozy Cozy 38.00 sqm.

In [15]:
Property.objects.filter(id=7).update(size=39)

1

In [16]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.
7 Cozy Cozy 39.00 sqm.

In [1]:
q=Property.objects.filter(id=7)
print(q.query)

SELECT "myapp_property"."id", "myapp_property"."name", "myapp_property"."ac", "myapp_property"."size", "myapp_property"."price_per_day" FROM "myapp_property" WHERE "myapp_property"."id" = 7

# Datetime

In [2]:
from datetime import datetime as dt

In [3]:
dt.now()

datetime.datetime(2020, 2, 20, 9, 12, 16, 717571)

In [4]:
print(dt.now())

2020-02-20 09:12:29.487741

In [7]:
d=dt.now()
d.strftime("%m/%d/%Y, %H:%M:%S")

'02/20/2020, 09:14:25'

In [8]:
d.strftime("%d/%m/%Y")

'20/02/2020'

In [10]:
x=dt.strptime('21/02/2020',"%d/%m/%Y")
print(x)

2020-02-21 00:00:00

# Bulk Create

In [11]:
members=[
    {'name':'Wasit', 'mobile':'0987654321','dob':dt.strptime('21/02/1990',"%d/%m/%Y"),'gender':True},
    {'name':'David', 'mobile':'0987654322','dob':dt.strptime('22/02/1990',"%d/%m/%Y"),'gender':True},
    {'name':'Albert', 'mobile':'0987654323','dob':dt.strptime('21/03/1990',"%d/%m/%Y"),'gender':True},
]

In [12]:
for i in Customer.objects.all():
    print(i)

Alexzadra Long

In [13]:
m=[]
for i in members:
    c=Customer(name=i['name'], mobile=i['mobile'],dob=i['dob'],gender=i['gender'])
    m.append(c)

In [14]:
m

In [16]:
Customer.objects.bulk_create(m)

In [17]:
for i in Customer.objects.all():
    print(i)

Alexzadra Long
Wasit
David
Albert

# Create Rent

In [21]:
c=Customer.objects.get(name='Alexzadra Long')

In [19]:
c

In [23]:
p=Property.objects.get(id=7)

In [24]:
p

In [28]:
r=Rent(
    start=dt.strptime('2020-02-20 16:30','%Y-%m-%d %H:%M'),
    stop=dt.now(),
    cost=5000,
    property=p,
    customer=c
)

In [31]:
r.save()

/home/wasit/miniconda3/envs/2020/lib/python3.8/site-packages/django/db/models/fields/__init__.py:1424: RuntimeWarning: DateTimeField Rent.start received a naive datetime (2020-02-20 16:30:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/wasit/miniconda3/envs/2020/lib/python3.8/site-packages/django/db/models/fields/__init__.py:1424: RuntimeWarning: DateTimeField Rent.stop received a naive datetime (2020-02-20 09:31:05.004676) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"

In [32]:
for i in Rent.objects.all():
    print(i)

1 D Conda 32.00 sqm. 2020-02-13 07:33:19+00:00
7 Cozy Cozy 39.00 sqm. 2020-02-20 16:30:00+00:00

In [35]:
r=Rent(
    start=dt.strptime('2020-02-10 16:30','%Y-%m-%d %H:%M'),
    stop=dt.now(),
    cost=5500,
    property=Property.objects.get(id=6),
    customer=Customer.objects.get(name='Wasit')
).save()

/home/wasit/miniconda3/envs/2020/lib/python3.8/site-packages/django/db/models/fields/__init__.py:1424: RuntimeWarning: DateTimeField Rent.start received a naive datetime (2020-02-10 16:30:00) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"
/home/wasit/miniconda3/envs/2020/lib/python3.8/site-packages/django/db/models/fields/__init__.py:1424: RuntimeWarning: DateTimeField Rent.stop received a naive datetime (2020-02-20 09:33:06.645273) while time zone support is active.
  warnings.warn("DateTimeField %s received a naive datetime (%s)"

In [36]:
for i in Rent.objects.all():
    print(i)

1 D Conda 32.00 sqm. 2020-02-13 07:33:19+00:00
7 Cozy Cozy 39.00 sqm. 2020-02-20 16:30:00+00:00
6 Cozy Cozy 37.00 sqm. 2020-02-10 16:30:00+00:00