In [1]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.

In [2]:
for i in Customer.objects.all():
    print(i)

Alexzadra Long

In [3]:
for i in Rent.objects.all():
    print(i)

1 D Conda 32.00 sqm. 2020-02-13 07:33:19+00:00

# Create

In [4]:
Property.objects.create(
    name="Cozy Cozy",
    ac=True,
    size=37,
    price_per_day=700
)

In [5]:
p=Property(
    name="Cozy Cozy",
    ac=True,
    size=37,
    price_per_day=700
)

In [6]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.

In [7]:
p.save()

In [8]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.
7 Cozy Cozy 37.00 sqm.

# Update

In [9]:
p=Property.objects.get(id=7)

In [10]:
p.size=38

In [11]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.
7 Cozy Cozy 37.00 sqm.

In [12]:
p.save()

In [13]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.
7 Cozy Cozy 38.00 sqm.

In [15]:
Property.objects.filter(id=7).update(size=39)

1

In [16]:
for i in Property.objects.all():
    print(i)

1 D Conda 32.00 sqm.
2 J Park 40.00 sqm.
3 Asian Game B6 35.00 sqm.
4 Asian Game B7 35.00 sqm.
5 Asian Game B8 35.00 sqm.
6 Cozy Cozy 37.00 sqm.
7 Cozy Cozy 39.00 sqm.